<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706053817811-trvp208v9tm8lscot4p56b4dhg2pvrra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706053817811-trvp208v9tm8lscot4p56b4dhg2pvrra</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>706053817811-3jj8o16harc2ipeda9iprj26r70bd17t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAcrtcNhw2Pl5qglXTJraCGP0jzlvlv1wo</string>
	<key>GCM_SENDER_ID</key>
	<string>706053817811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>videolibrary.videolibrary</string>
	<key>PROJECT_ID</key>
	<string>videolibrary-2379d</string>
	<key>STORAGE_BUCKET</key>
	<string>videolibrary-2379d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706053817811:ios:a6ee03e1e9f490d75d5b26</string>
</dict>
</plist>